<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
    <!--<ul>
      <li *ngFor="let movie of movies">
        <img src={{movie.Poster}} width="400" height="250">
        <p>{{movie.Title}}</p>
        <P>{{movie.Year}}</P>
      </li>
    </ul>!-->
    
    <ion-card *ngFor="let movie of movies">
      <img alt="MovieTitle" src={{movie.Poster}} width="200" height="250"/>
      <ion-card-header>
        <ion-card-title>{{movie.Title}}</ion-card-title>
        <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
 
  
</ion-content>
